{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/towers.css' %}">

<h3 style="margin-top: 20px;">Plant 5 Details:</h3>

<div class="row" style="margin-top: 50px; text-align: center;">
    <div class="col">
        <div id="production">
            <h4>Tower 1</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 2</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 3</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 4</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 5</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 6</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 7</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>

    <div class="col">
        <div id="production">
            <h4>Tower 8</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px; text-align: center;">
    <div class="col">
        <div id="shutdown">
            <h4>Tower 9</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 10</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 11</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 12</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 13</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 14</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 15</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="production">
            <h4>Tower 16</h4>
            <br>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Last hour average
                <span class="tooltiptext">
                    <div>Last hour block height : 10</div><br>
                    <div>Last hour block cycle time: 20</div><br>
                    <div>Last hour vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Today's average
                <span class="tooltiptext">
                    <div>Today's block height : 10</div><br>
                    <div>Today's block cycle time: 20</div><br>
                    <div>Today's vacuum: 30</div><br>
                </span>
            </div>
            <div onclick="location.href='chart'" class="tooltip" style="cursor: pointer; color: white;">Yesterday's average
                <span class="tooltiptext" style="top: -5px;
                right: 105%;">
                    <div>Yesterday's block height : 10</div><br>
                    <div>Yesterday's block cycle time: 20</div><br>
                    <div>Yesterday's vacuum: 30</div><br>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tower Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span>Last hour block size: 10</span><br>
                    <span>Last hour block cycle time: 20</span><br>
                    <span>Last hour vacuum: 30</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}